.deco-ftr{
    background-image: url('../../../../public/images/footer_bottom_decoration_img.png');
    height: 2vh;
}
footer{
    background-image: url('../../../../public/images/footer_background.jpg');
    height: auto;
    max-width: 100vw;
}
.part-ftr{
    width: 30%;
}
.p-footer{
    font-size: 12px;  
    opacity:0.7;
    width: 90%;
}
.div-ftr{
    height:12vh ;
    max-width: 100vw;
}