//& OUR story + OUR menu 
.bg-petitdessin {
    background-image: url('../../../../public/images/main_bg.jpg');
    height: auto;
    max-width: 100vw;
    background-repeat: repeat;
}
.cadre {
    background-color: white;
    height: 100%;
    width: 80%;
}
.p-ourstory {
    width: 60%;
}
.icon-hover:hover {
    color: $red;
}

//? Style of the titles like "OUR Story"
.title-line {
    font-family: "courgette";
    line-height: 4px;
}
.our-1 {
    padding-top: 60px;
    font-size: 35px;
}
.our {
    font-size: 50px;
}
// .Story_Menu{ //? class of section OUR story + OUR menu
//     // height: 80rem;
// }
.menu-meals {
    font-family: "courgette";
    font-size: 20px;
    line-height: 35px;
}
.menuText{
    width: 380px;
    p{
        font-size: 15px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    line-height: 14px;
    span{
        font-size: 14px;
    }
    b{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    }
}
//^version tablet
@media ( min-width:768px ) and (max-width:1023px) {
    .our-1 {
        padding-top: 60px;
        font-size: 25px;
    }

    .our {
        font-size: 35px;
    }

}

//* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//& MEET our chef
.team-chef {
    background-image: url('../../../../public/images/team_background.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgba(10, 6, 6, 0.877);
    background-blend-mode: darken;
}

//& BOOK your Table
.bk-table {
    font-family: "roboto-regular";
    width: 70%;
    height: auto;
    background-image: url('../../../../public/images/book_table_bg.jpg');

}

//^ Our Blog
.card-blog {
    width: 80%;
}

.para-blog {
    font-size: 13px;
}

.redp-blog {
    width: 310px;
}

.numbers {
    font-weight: bold;
    font-size: 20px;
}
.pos-relative{
    position: relative;
}
.pos-abs{
    position: absolute;
    top: 46%;
}

//& CLIENT Testimonials
.client {
    background-image: url('../../../../public/images/testimonials_background.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgba(10, 9, 9, 0.884);
    background-blend-mode: darken;
}

.card-client {
    width: 40%;
}

@media screen and (min-width:426px) and (max-width:768px) {
    .card-client {
        width: 60%;
    }

    //? OUR Contact
    .contact-card {
        width: 40%;
    }
}

//& OUR Contact
.contact-card {
    width: 55%;
}

.text-contact {
    font-size: 14px;
}